html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.labs-list {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 20px;
}

.labs-list-item {
	padding:10px;
}

.labs-list-item-content {
	display: block;
	background-color: #ddd;
	margin-bottom: 20px;
	padding: 15px;
	outline: solid 0px #fff;
	transition: all 0.1s;
	color: #666;
	cursor: pointer;
}

.labs-list-item-content:hover {
	background-color: #cdf;
	transform: scale(1.02);
	outline: solid 1px #999;
	box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
	color: #666;
	text-decoration: none;
}